@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.head-of-page{
    font-size: 20px;
    padding: 1%;
    background-color: #808080;
    color: white;
}
.list-of-courses{
    font-size: 16px;
}
.btn-sign-out{
    bottom: 5%;
    font-size: 16px;
    padding: 1%;
}
.fa-sign-out{
    color: rgb(37, 124, 19);
}
.btn_of_course{
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    margin: 0.5pc;

}
.list-of-courses{
    margin: 0 auto;
    padding: 2px 30px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}